@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300&display=swap");
body {
  margin: 0 auto;
}

.header, .why, .how, .house, .rock, .test, .footer {
  max-width: 1770px;
  margin: 0 auto;
}

.header {
  min-height: 820px;
  background-image: url("./img/header_bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
@media screen and (-webkit-device-pixel-ratio: 2), screen and (max-width: 400px) {
  .header {
    background-image: url("./img/header_bg2.jpg");
    min-height: 667px;
  }
}

.header--h1 {
  font-size: 48px;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 273px 0 0 0;
  line-height: 26px;
}
@media screen and (max-width: 700px) {
  .header--h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 400px) {
  .header--h1 {
    font-size: 18px;
    margin-top: 207px;
  }
}

.header--p1 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.28em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  margin: 15px 0 0 0;
}
@media screen and (max-width: 700px) {
  .header--p1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .header--p1 {
    margin-top: 25px;
  }
}

.header__field {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #ffffff;
  padding: 2px;
  margin: 45px 0 0 0;
}
@media screen and (max-width: 400px) {
  .header__field {
    margin-top: 55px;
  }
}

.header__field--input {
  width: 480px;
  height: 55px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  color: #999999;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
@media screen and (max-width: 700px) {
  .header__field--input {
    width: 250px;
    font-size: 10px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 400px) {
  .header__field--input {
    width: 150px;
  }
}

.header__field--input::placeholder {
  text-align: center;
}

.header__field--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 55px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  color: white;
  background: #5474FD;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .header__field--button {
    width: 85px;
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header__field--button {
    height: 40px;
  }
}
.header__field--button svg {
  margin-left: 15px;
}

.header--p2 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  margin: 115px 0 0 0;
}
@media screen and (max-width: 400px) {
  .header--p2 {
    margin-top: 35px;
  }
}

.arrd {
  margin-right: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  padding: 5px;
  transform: rotate(-45deg);
}

.header__bottom {
  display: flex;
  align-items: center;
  height: 80px;
  background: #5474FD;
  margin: 142px 0 0 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .header__bottom {
    height: 120px;
  }
}
@media screen and (max-width: 400px) {
  .header__bottom {
    margin-top: 225px;
  }
}

.header__bottom__left {
  color: white;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 325px;
}
@media screen and (max-width: 1500px) {
  .header__bottom__left {
    margin-left: 275px;
  }
}
@media screen and (max-width: 1300px) {
  .header__bottom__left {
    margin-left: 185px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .header__bottom__left {
    margin-left: 15px;
  }
}

.header__bottom__right {
  margin-left: 420px;
}
@media screen and (max-width: 1500px) {
  .header__bottom__right {
    margin-left: 275px;
  }
}
@media screen and (max-width: 1300px) {
  .header__bottom__right {
    margin-left: 155px;
  }
}
@media screen and (max-width: 1100px) {
  .header__bottom__right {
    margin-left: 55px;
  }
}
@media screen and (max-width: 600px) {
  .header__bottom__right {
    display: flex;
    flex-direction: column;
    margin-left: 36.7231638418%;
  }
}
@media screen and (max-width: 600px) {
  .header__bottom__right {
    margin-left: 22.5988700565%;
  }
}
.header__bottom__right a {
  color: white;
  font-size: 14px;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  line-height: 26px;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  .header__bottom__right a {
    font-size: 12px;
    margin-right: 5px;
  }
}
.header__bottom__right a:hover {
  font-weight: 700;
}

.why {
  min-height: 685px;
  background-image: url("./img/whychoose.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
@media screen and (-webkit-device-pixel-ratio: 2), screen and (max-width: 400px) {
  .why {
    background-image: url("./img/whychoose_2.jpg");
    min-height: 400px;
  }
}

.why__left, .why__right {
  width: 50%;
}

.why__left--h1 {
  color: white;
  font-size: 36px;
  font-family: "Aleo", serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26px;
  margin-top: 90px;
  margin-left: 18.6440677966%;
}
@media screen and (max-width: 1200px) {
  .why__left--h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .why__left--h1 {
    font-size: 18px;
    margin-top: 10px;
  }
}

.why__left--p1 {
  color: white;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-top: 60px;
  margin-left: 18.6440677966%;
  line-height: 26px;
}
@media screen and (max-width: 1200px) {
  .why__left--p1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .why__left--p1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .why__left--p1 {
    margin-top: 10px;
  }
}

.why__left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 0.075em;
  font-family: "Aleo", serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 18.6440677966%;
  margin-top: 40px;
  line-height: 26px;
  width: 225px;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 41%, #5474fd 41%, #5474fd 100%);
}
@media screen and (max-width: 500px) {
  .why__left__btn {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.why__left__btn:hover {
  box-shadow: 1px 1px 22px 1px #FFFFFF;
}

.why__right {
  display: flex;
  flex-direction: column;
}
.why__right img:nth-child(1) {
  margin-left: 3.7853107345%;
  width: 348px;
}
@media screen and (max-width: 900px) {
  .why__right img:nth-child(1) {
    width: 250px;
    height: 155px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .why__right img:nth-child(1) {
    width: 200px;
    height: 124px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  .why__right img:nth-child(1) {
    width: 120px;
    height: 83px;
    margin-top: 30px;
  }
}
.why__right img:nth-child(2) {
  margin-left: 11.0169491525%;
  margin-top: 5px;
  width: 348px;
}
@media screen and (max-width: 900px) {
  .why__right img:nth-child(2) {
    width: 250px;
    height: 155px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 900px) {
  .why__right img:nth-child(2) {
    width: 200px;
    height: 124px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  .why__right img:nth-child(2) {
    width: 120px;
    height: 83px;
    margin-top: 30px;
  }
}

.how {
  min-height: 340px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .how {
    min-height: 200px;
  }
}

.how__div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 50%;
  z-index: 2;
  background: #333333;
}
.how__div svg {
  width: 60px;
  height: 60px;
}

.how__div:hover p {
  color: #3677fd;
}

#div-center {
  margin: 20px 170px 0;
}
@media screen and (max-width: 1200px) {
  #div-center {
    margin: 20px 100px 0;
  }
}
@media screen and (max-width: 900px) {
  #div-center {
    margin: 20px 50px 0;
  }
}
@media screen and (max-width: 600px) {
  #div-center {
    margin: 20px 20px 0;
  }
}
#div-center p {
  margin-top: 42px;
}

.how__div--p {
  color: white;
  font-size: 36px;
  font-family: "Aleo", serif;
  text-transform: capitalize;
  line-height: 26px;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .how__div--p {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .how__div--p {
    font-size: 12px;
  }
}

.how__shape {
  position: absolute;
  top: 1550px;
}
@media screen and (max-width: 1200px) {
  .how__shape {
    top: 1585px;
  }
}
@media screen and (max-width: 900px) {
  .how__shape {
    display: none;
  }
}

.house {
  min-height: 700px;
  background-image: url("./img/s-house.jpg");
  background-size: cover;
}
@media screen and (-webkit-device-pixel-ratio: 2), screen and (max-width: 400px) {
  .house {
    background-image: url("./img/s-house_2.jpg");
    min-height: 400px;
  }
}

.house__menu {
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  top: 229px;
  left: 18.6440677966%;
  height: 372px;
  width: 540px;
  color: white;
}
@media screen and (max-width: 700px) {
  .house__menu {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .house__menu {
    width: 300px;
    top: 150px;
    left: 40px;
    height: 450px;
  }
}
@media screen and (max-width: 400px) {
  .house__menu {
    top: 10px;
    left: 5px;
    height: 380px;
    width: 290px;
  }
}
.house__menu p:nth-child(1) {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 45px;
  line-height: 26px;
  margin: 0;
}
.house__menu p:nth-child(2) {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 25px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.house__menu p:nth-child(3) {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 18px 23px 42px 30px;
  line-height: 26px;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .house__menu p:nth-child(3) {
    padding-bottom: 20px;
  }
}
.house__menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 0.075em;
  font-family: "Aleo", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 26px;
  margin-left: 30px;
  width: 225px;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 41%, #5474fd 41%, #5474fd 100%);
}
@media screen and (max-width: 400px) {
  .house__menu div {
    width: 150px;
    height: 50px;
  }
}
.house__menu div:hover {
  box-shadow: 1px 1px 22px 1px #FFFFFF;
}

.rock {
  min-height: 700px;
  background-image: url("./img/s-rock.jpg");
  background-size: cover;
}
@media screen and (-webkit-device-pixel-ratio: 2), screen and (max-width: 400px) {
  .rock {
    background-image: url("./img/s-rock_2.jpg");
    min-height: 400px;
  }
}

.rock__menu {
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  top: 229px;
  left: 900px;
  height: 372px;
  width: 540px;
  color: white;
}
@media screen and (max-width: 1500px) {
  .rock__menu {
    top: 229px;
    left: 18.6440677966%;
    height: 372px;
    width: 540px;
  }
}
@media screen and (max-width: 700px) {
  .rock__menu {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .rock__menu {
    width: 300px;
    top: 150px;
    left: 40px;
    height: 450px;
  }
}
@media screen and (max-width: 400px) {
  .rock__menu {
    top: 10px;
    left: 5px;
    height: 380px;
    width: 290px;
  }
}
.rock__menu p:nth-child(1) {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 45px;
  line-height: 26px;
  margin: 0;
}
.rock__menu p:nth-child(2) {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 25px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.rock__menu p:nth-child(3) {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 18px 23px 42px 30px;
  line-height: 26px;
  margin: 0;
}
@media screen and (max-width: 400px) {
  .rock__menu p:nth-child(3) {
    padding-bottom: 20px;
  }
}
.rock__menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  letter-spacing: 0.075em;
  font-family: "Aleo", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 26px;
  margin-left: 30px;
  width: 225px;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 41%, #5474fd 41%, #5474fd 100%);
}
@media screen and (max-width: 400px) {
  .rock__menu div {
    width: 150px;
    height: 50px;
  }
}
.rock__menu div:hover {
  box-shadow: 1px 1px 22px 1px #FFFFFF;
}

.test {
  min-height: 731px;
  background-image: url("./img/test_bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
@media screen and (-webkit-device-pixel-ratio: 2), screen and (max-width: 400px) {
  .test {
    background-image: url("./img/test_bg_2.jpg");
    min-height: 400px;
  }
}

.test--h1 {
  font-size: 36px;
  text-transform: capitalize;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-top: 122px;
}
@media screen and (max-width: 900px) {
  .test--h1 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  .test--h1 {
    margin-top: 10px;
    font-size: 26px;
  }
}

.test__div {
  margin-top: 72px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .test__div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .test__div img {
    width: 200px;
    height: 127px;
  }
}

.test__div__right {
  display: flex;
  flex-direction: column;
  background: #333333;
  min-height: 284px;
  max-width: 665px;
}
@media screen and (max-width: 900px) {
  .test__div__right {
    min-height: 200px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .test__div__right {
    min-height: 150px;
  }
}
@media screen and (max-width: 400px) {
  .test__div__right {
    max-width: 300px;
    margin-bottom: 10px;
  }
}
.test__div__right p {
  margin-left: 60px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 26px;
}
@media screen and (max-width: 1200px) {
  .test__div__right p {
    margin-left: 40px;
  }
}
.test__div__right p:nth-child(1) {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .test__div__right p:nth-child(1) {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .test__div__right p:nth-child(1) {
    margin-top: 20px;
  }
}
.test__div__right p:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  padding-right: 22px;
}
@media screen and (max-width: 1200px) {
  .test__div__right p:nth-child(2) {
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  .test__div__right p:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .test__div__right p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.test__div__right p:nth-child(2) i {
  color: #5474FD;
  transform: rotate(180deg);
}

.footer {
  min-height: 268px;
  background: #232323;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer--h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 0.14em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 120px 0 0 0;
  line-height: 26px;
}

.footer--p1 {
  color: white;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  margin: 3px 0 0 0;
}

.footer__icons {
  margin: 25px 0 0 0;
}
.footer__icons a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.footer__icons a:hover {
  color: #5474FD;
}

/*# sourceMappingURL=main.css.map */
